:where(html) {
  --rounded-none: 0;
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 9999px;
  --rounded-drawn-1: 255px 15px 225px 15px / 15px 225px 15px 255px;
  --rounded-drawn-2: 125px 10px 20px 185px / 25px 205px 205px 25px;
  --rounded-drawn-3: 15px 255px 15px 225px / 225px 15px 255px 15px;
  --rounded-drawn-4: 15px 25px 155px 25px / 225px 150px 25px 115px;
  --rounded-drawn-5: 250px 25px 15px 20px / 15px 80px 105px 115px;
  --rounded-drawn-6: 28px 100px 20px 15px / 150px 30px 205px 225px;
  --rounded-blob-1: 30% 70% 70% 30% / 53% 30% 70% 47%;
  --rounded-blob-2: 53% 47% 34% 66% / 63% 46% 54% 37%;
  --rounded-blob-3: 37% 63% 56% 44% / 49% 56% 44% 51%;
  --rounded-blob-4: 63% 37% 37% 63% / 43% 37% 63% 57%;
  --rounded-blob-5: 49% 51% 48% 52% / 57% 44% 56% 43%;
  --rounded-conditional-1: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-1));
  --rounded-conditional-2: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-2));
  --rounded-conditional-3: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-3));
  --rounded-conditional-4: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-4));
  --rounded-conditional-5: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-5));
  --rounded-conditional-6: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-6));
  --border: 1px;
  --border-0: 0px;
  --border-2: 2px;
  --border-4: 4px;
  --border-8: 8px;
  --border-12: 12px;
  --border-16: 16px;
  --border-20: 20px;
  --border-24: 24px;
}
