:where(html) {
  --triangle-top: polygon(50% 0%, 0% 100%, 100% 100%);
  --triangle-right: polygon(0 0, 0% 100%, 100% 50%);
  --triangle-bottom: polygon(100% 0, 5% 0, 50% 100%);
  --triangle-left: polygon(100% 100%, 100% 0, 0 50%);
  --trapezoid: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  --parallelogram: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  --rhombus: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  --pentagon: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  --hexagon: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  --heptagon: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  --octagon: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  --nonagon: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
  --decagon: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
