:root {
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-none: none;
  --grid-subgrid: subgrid;
  --grid-auto: auto;
  --grid-span-1: span 1 / span 1;
  --grid-span-2: span 2 / span 2;
  --grid-span-3: span 3 / span 3;
  --grid-span-4: span 4 / span 4;
  --grid-span-5: span 5 / span 5;
  --grid-span-6: span 6 / span 6;
  --grid-span-7: span 7 / span 7;
  --grid-span-8: span 8 / span 8;
  --grid-span-9: span 9 / span 9;
  --grid-span-10: span 10 / span 10;
  --grid-span-11: span 11 / span 11;
  --grid-span-12: span 12 / span 12;
  --grid-span-full: 1 / -1;
  --grid-start-1: 1;
  --grid-start-2: 2;
  --grid-start-3: 3;
  --grid-start-4: 4;
  --grid-start-5: 5;
  --grid-start-6: 6;
  --grid-start-7: 7;
  --grid-start-8: 8;
  --grid-start-9: 9;
  --grid-start-10: 10;
  --grid-start-11: 11;
  --grid-start-12: 12;
  --grid-start-13: 13;
  --grid-start-auto: auto;
  --grid-end-1: 1;
  --grid-end-2: 2;
  --grid-end-3: 3;
  --grid-end-4: 4;
  --grid-end-5: 5;
  --grid-end-6: 6;
  --grid-end-7: 7;
  --grid-end-8: 8;
  --grid-end-9: 9;
  --grid-end-10: 10;
  --grid-end-11: 11;
  --grid-end-12: 12;
  --grid-end-13: 13;
  --grid-end-auto: auto;
}
