:root {
  --blur-none: ;
  --blur-sm: blur(4px);
  --blur: blur(8px);
  --blur-md: blur(12px);
  --blur-lg: blur(16px);
  --blur-xl: blur(24px);
  --blur-2xl: blur(40px);
  --blur-3xl: blur(64px);
  --brightness-0: brightness(0);
  --brightness-50: brightness(0.5);
  --brightness-75: brightness(0.75);
  --brightness-90: brightness(0.9);
  --brightness-95: brightness(0.95);
  --brightness-100: brightness(1);
  --brightness-105: brightness(1.05);
  --brightness-110: brightness(1.1);
  --brightness-125: brightness(1.25);
  --brightness-150: brightness(1.5);
  --brightness-200: brightness(2);
  --contrast-0: contrast(0);
  --contrast-50: contrast(0.5);
  --contrast-75: contrast(0.75);
  --contrast-100: contrast(1);
  --contrast-125: contrast(1.25);
  --contrast-150: contrast(1.5);
  --contrast-200: contrast(2);
  --drop-shadow-sm: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  --drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  --drop-shadow-md: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  --drop-shadow-lg: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  --drop-shadow-xl: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  --drop-shadow-2xl: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  --drop-shadow-none: drop-shadow(0 0 #0000);
  --grayscale-0: grayscale(0);
  --grayscale: grayscale(100%);
  --hue-rotate-0: hue-rotate(0deg);
  --hue-rotate-15: hue-rotate(15deg);
  --hue-rotate-30: hue-rotate(30deg);
  --hue-rotate-60: hue-rotate(60deg);
  --hue-rotate-90: hue-rotate(90deg);
  --hue-rotate-180: hue-rotate(180deg);
  --invert-0: invert(0);
  --invert: invert(100%);
  --saturate-0: saturate(0);
  --saturate-50: saturate(0.5);
  --saturate-100: saturate(1);
  --saturate-150: saturate(1.5);
  --saturate-200: saturate(2);
  --sepia-0: sepia(0);
  --sepia: sepia(100%);
  --backdrop-blur-sm: blur(4px);
  --backdrop-blur: blur(8px);
  --backdrop-blur-md: blur(12px);
  --backdrop-blur-lg: blur(16px);
  --backdrop-blur-xl: blur(24px);
  --backdrop-blur-2xl: blur(40px);
  --backdrop-blur-3xl: blur(64px);
  --backdrop-brightness-0: brightness(0);
  --backdrop-brightness-50: brightness(0.5);
  --backdrop-brightness-75: brightness(0.75);
  --backdrop-brightness-90: brightness(0.9);
  --backdrop-brightness-95: brightness(0.95);
  --backdrop-brightness-100: brightness(1);
  --backdrop-brightness-105: brightness(1.05);
  --backdrop-brightness-110: brightness(1.1);
  --backdrop-brightness-125: brightness(1.25);
  --backdrop-brightness-150: brightness(1.5);
  --backdrop-brightness-200: brightness(2);
  --backdrop-contrast-0: contrast(0);
  --backdrop-contrast-50: contrast(0.5);
  --backdrop-contrast-75: contrast(0.75);
  --backdrop-contrast-100: contrast(1);
  --backdrop-contrast-125: contrast(1.25);
  --backdrop-contrast-150: contrast(1.5);
  --backdrop-contrast-200: contrast(2);
  --backdrop-grayscale-0: grayscale(0);
  --backdrop-grayscale: grayscale(100%);
  --backdrop-hue-rotate-0: hue-rotate(0deg);
  --backdrop-hue-rotate-15: hue-rotate(15deg);
  --backdrop-hue-rotate-30: hue-rotate(30deg);
  --backdrop-hue-rotate-60: hue-rotate(60deg);
  --backdrop-hue-rotate-90: hue-rotate(90deg);
  --backdrop-hue-rotate-180: hue-rotate(180deg);
  --backdrop-invert-0: invert(0);
  --backdrop-invert: invert(100%);
  --backdrop-opacity-0: opacity(0);
  --backdrop-opacity-5: opacity(0.05);
  --backdrop-opacity-10: opacity(0.1);
  --backdrop-opacity-15: opacity(0.15);
  --backdrop-opacity-20: opacity(0.2);
  --backdrop-opacity-25: opacity(0.25);
  --backdrop-opacity-30: opacity(0.3);
  --backdrop-opacity-35: opacity(0.35);
  --backdrop-opacity-40: opacity(0.4);
  --backdrop-opacity-45: opacity(0.45);
  --backdrop-opacity-50: opacity(0.5);
  --backdrop-opacity-55: opacity(0.55);
  --backdrop-opacity-60: opacity(0.6);
  --backdrop-opacity-65: opacity(0.65);
  --backdrop-opacity-70: opacity(0.7);
  --backdrop-opacity-75: opacity(0.75);
  --backdrop-opacity-80: opacity(0.8);
  --backdrop-opacity-85: opacity(0.85);
  --backdrop-opacity-90: opacity(0.9);
  --backdrop-opacity-95: opacity(0.95);
  --backdrop-opacity-100: opacity(1);
  --backdrop-saturate-0: saturate(0);
  --backdrop-saturate-50: saturate(0.5);
  --backdrop-saturate-100: saturate(1);
  --backdrop-saturate-150: saturate(1.5);
  --backdrop-saturate-200: saturate(2);
  --backdrop-sepia-0: sepia(0);
  --backdrop-sepia: sepia(100%);
}
