*:where(html) {
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --text-fluid-xs: clamp(0.75rem, 0.571rem + 0.446vw, 1rem);
  --text-fluid-sm: clamp(0.875rem, 0.696rem + 0.446vw, 1.125rem);
  --text-fluid-base: clamp(1rem, 0.821rem + 0.446vw, 1.25rem);
  --text-fluid-lg: clamp(1.125rem, 0.857rem + 0.67vw, 1.5rem);
  --text-fluid-xl: clamp(1.25rem, 0.804rem + 1.116vw, 1.875rem);
  --text-fluid-2xl: clamp(1.5rem, 0.964rem + 1.339vw, 2.25rem);
  --text-fluid-3xl: clamp(1.875rem, 1.071rem + 2.009vw, 3rem);
  --text-fluid-4xl: clamp(2.25rem, 1.179rem + 2.679vw, 3.75rem);
  --text-fluid-5xl: clamp(3rem, 0.643rem + 4.018vw, 4.5rem);
  --text-fluid-6xl: clamp(3.75rem, 6.397rem + -6.618vw, 6rem);
  --text-fluid-7xl: clamp(4.5rem, 8.618rem + -10.294vw, 8rem);
  --text-fluid-8xl: clamp(6rem, 11.882rem + -14.706vw, 11rem);
  --text-fluid-9xl: clamp(8rem, 13.882rem + -14.706vw, 13rem);
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --leading-3: 0.75rem;
  --leading-4: 1rem;
  --leading-5: 1.25rem;
  --leading-6: 1.5rem;
  --leading-7: 1.75rem;
  --leading-8: 2rem;
  --leading-9: 2.25rem;
  --leading-10: 2.5rem;
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --text-xs-line-height: 1rem;
  --text-sm-line-height: 1.25rem;
  --text-base-line-height: 1.5rem;
  --text-lg-line-height: 1.75rem;
  --text-xl-line-height: 1.75rem;
  --text-2xl-line-height: 2rem;
  --text-3xl-line-height: 2.25rem;
  --text-4xl-line-height: 2.5rem;
  --text-5xl-line-height: 1;
  --text-6xl-line-height: 1;
  --text-7xl-line-height: 1;
  --text-8xl-line-height: 1;
  --text-9xl-line-height: 1;
}
