*:where(html) {
  --leading-3: 0.75rem;
  --leading-4: 1rem;
  --leading-5: 1.25rem;
  --leading-6: 1.5rem;
  --leading-7: 1.75rem;
  --leading-8: 2rem;
  --leading-9: 2.25rem;
  --leading-10: 2.5rem;
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --text-xs-line-height: 1rem;
  --text-sm-line-height: 1.25rem;
  --text-base-line-height: 1.5rem;
  --text-lg-line-height: 1.75rem;
  --text-xl-line-height: 1.75rem;
  --text-2xl-line-height: 2rem;
  --text-3xl-line-height: 2.25rem;
  --text-4xl-line-height: 2.5rem;
  --text-5xl-line-height: 1;
  --text-6xl-line-height: 1;
  --text-7xl-line-height: 1;
  --text-8xl-line-height: 1;
  --text-9xl-line-height: 1;
}
