:where(html) {
  --brightness-0: brightness(0);
  --brightness-50: brightness(0.5);
  --brightness-75: brightness(0.75);
  --brightness-90: brightness(0.9);
  --brightness-95: brightness(0.95);
  --brightness-100: brightness(1);
  --brightness-105: brightness(1.05);
  --brightness-110: brightness(1.1);
  --brightness-125: brightness(1.25);
  --brightness-150: brightness(1.5);
  --brightness-200: brightness(2);
}
