:where(html) {
  --size-0: 0;
  --size-0_5: 0.125rem;
  --size-1: 0.25rem;
  --size-1_5: 0.375rem;
  --size-2: 0.5rem;
  --size-2_5: 0.625rem;
  --size-3: 0.75rem;
  --size-3_5: 0.875rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-14: 3.5rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --size-28: 7rem;
  --size-32: 8rem;
  --size-36: 9rem;
  --size-40: 10rem;
  --size-44: 11rem;
  --size-48: 12rem;
  --size-52: 13rem;
  --size-56: 14rem;
  --size-60: 15rem;
  --size-64: 16rem;
  --size-72: 18rem;
  --size-80: 20rem;
  --size-96: 24rem;
  --size-none: none;
  --size-xs: 20rem;
  --size-sm: 24rem;
  --size-md: 28rem;
  --size-lg: 32rem;
  --size-xl: 36rem;
  --size-2xl: 42rem;
  --size-3xl: 48rem;
  --size-4xl: 56rem;
  --size-5xl: 64rem;
  --size-6xl: 72rem;
  --size-7xl: 80rem;
  --size-full: 100%;
  --size-screen: 100vh;
  --size-svh: 100svh;
  --size-lvh: 100lvh;
  --size-dvh: 100dvh;
  --size-min: min-content;
  --size-max: max-content;
  --size-fit: fit-content;
  --size-min: min-content;
  --size-max: max-content;
  --size-fit: fit-content;
  --size-prose: 65ch;
  --size-screen-sm: 40rem;
  --size-screen-md: 48rem;
  --size-screen-lg: 64rem;
  --size-screen-xl: 80rem;
  --size-screen-2xl: 96rem;
  --size-px-0: 0;
  --size-px: 1px;
  --size-px-0_5: 2px;
  --size-px-1: 4px;
  --size-px-1_5: 6px;
  --size-px-2: 8px;
  --size-px-2_5: 10px;
  --size-px-3: 12px;
  --size-px-3_5: 14px;
  --size-px-4: 16px; --size-px-5: 20px;
  --size-px-6: 24px;
  --size-px-7: 28px;
  --size-px-8: 32px;
  --size-px-9: 36px;
  --size-px-10: 40px;
  --size-px-11: 44px;
  --size-px-12: 48px;
  --size-px-14: 56px;
  --size-px-16: 64px;
  --size-px-20: 80px;
  --size-px-24: 96px;
  --size-px-28: 112px;
  --size-px-32: 128px;
  --size-px-36: 144px;
  --size-px-40: 160px;
  --size-px-44: 176px;
  --size-px-48: 192px;
  --size-px-52: 208px;
  --size-px-56: 224px;
  --size-px-60: 240px;
  --size-px-64: 256px;
  --size-px-72: 288px;
  --size-px-80: 320px;
  --size-px-96: 384px;
  --size-px-xs: 320px;
  --size-px-sm: 384px;
  --size-px-md: 448px;
  --size-px-lg: 512px;
  --size-px-xl: 576px;
  --size-px-2xl: 672px;
  --size-px-3xl: 768px;
  --size-px-4xl: 896px;
  --size-px-5xl: 1024px;
  --size-px-6xl: 1152px;
  --size-px-7xl: 1280px;
  --size-px-full: 100%;
  --size-px-screen-sm: 640px;
  --size-px-screen-md: 768px;
  --size-px-screen-lg: 1024px;
  --size-px-screen-xl: 1280px;
  --size-px-screen-2xl: 1440px;
}
