:where(html) {
  --spacing-0: 0;
  --spacing-0_5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1_5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2_5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3_5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --spacing-none: none;
  --spacing-xs: 20rem;
  --spacing-sm: 24rem;
  --spacing-md: 28rem;
  --spacing-lg: 32rem;
  --spacing-xl: 36rem;
  --spacing-2xl: 42rem;
  --spacing-3xl: 48rem;
  --spacing-4xl: 56rem;
  --spacing-5xl: 64rem;
  --spacing-6xl: 72rem;
  --spacing-7xl: 80rem;
  --spacing-full: 100%;
  --spacing-screen: 100vh;
  --spacing-svh: 100svh;
  --spacing-lvh: 100lvh;
  --spacing-dvh: 100dvh;
  --spacing-min: min-content;
  --spacing-max: max-content;
  --spacing-fit: fit-content;
  --spacing-min: min-content;
  --spacing-max: max-content;
  --spacing-fit: fit-content;
  --spacing-prose: 65ch;
  --spacing-screen-sm: 40rem;
  --spacing-screen-md: 48rem;
  --spacing-screen-lg: 64rem;
  --spacing-screen-xl: 80rem;
  --spacing-screen-2xl: 96rem;
}
