:where(html) {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --text-fluid-xs: clamp(var(--text-xs), 0.571rem + 0.446vw, var(--text-base));
  --text-fluid-sm: clamp(var(--text-sm), 0.696rem + 0.446vw, var(--text-lg));
  --text-fluid-base: clamp(var(--text-base), 0.821rem + 0.446vw, var(--text-xl));
  --text-fluid-lg: clamp(var(--text-lg), 0.857rem + 0.67vw, var(--text-2xl));
  --text-fluid-xl: clamp(var(--text-xl), 0.804rem + 1.116vw, var(--text-3xl));
  --text-fluid-2xl: clamp(var(--text-2xl), 0.964rem + 1.339vw, var(--text-4xl));
  --text-fluid-3xl: clamp(var(--text-3xl), 1.071rem + 2.009vw, var(--text-5xl));
  --text-fluid-4xl: clamp(var(--text-4xl), 1.179rem + 2.679vw, var(--text-6xl));
  --text-fluid-5xl: clamp(var(--text-5xl), 0.643rem + 4.018vw, var(--text-7xl));
  --text-fluid-6xl: clamp(var(--text-6xl), 6.397rem + -6.618vw, var(--text-8xl));
  --text-fluid-7xl: clamp(var(--text-7xl), 8.618rem + -10.294vw, var(--text-9xl));
  --text-fluid-8xl: clamp(var(--text-8xl), 11.882rem + -14.706vw, 11rem);
  --text-fluid-9xl: clamp(var(--text-9xl), 13.882rem + -14.706vw, 13rem);
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --leading-3: 0.75rem;
  --leading-4: 1rem;
  --leading-5: 1.25rem;
  --leading-6: 1.5rem;
  --leading-7: 1.75rem;
  --leading-8: 2rem;
  --leading-9: 2.25rem;
  --leading-10: 2.5rem;
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
}
