:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --text-fluid-xs: clamp(0.75rem, 0.571rem + 0.446vw, 1rem);
  --text-fluid-sm: clamp(0.875rem, 0.696rem + 0.446vw, 1.125rem);
  --text-fluid-base: clamp(1rem, 0.821rem + 0.446vw, 1.25rem);
  --text-fluid-lg: clamp(1.125rem, 0.857rem + 0.67vw, 1.5rem);
  --text-fluid-xl: clamp(1.25rem, 0.804rem + 1.116vw, 1.875rem);
  --text-fluid-2xl: clamp(1.5rem, 0.964rem + 1.339vw, 2.25rem);
  --text-fluid-3xl: clamp(1.875rem, 1.071rem + 2.009vw, 3rem);
  --text-fluid-4xl: clamp(2.25rem, 1.179rem + 2.679vw, 3.75rem);
  --text-fluid-5xl: clamp(3rem, 0.643rem + 4.018vw, 4.5rem);
  --text-fluid-6xl: clamp(3.75rem, 6.397rem + -6.618vw, 6rem);
  --text-fluid-7xl: clamp(4.5rem, 8.618rem + -10.294vw, 8rem);
  --text-fluid-8xl: clamp(6rem, 11.882rem + -14.706vw, 11rem);
  --text-fluid-9xl: clamp(8rem, 13.882rem + -14.706vw, 13rem);
}
