:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --text-fluid-sm-md: clamp(var(--text-xl), -1.875rem + 7.8125vw, var(--text-3xl));
  --text-fluid-sm-lg: clamp(var(--text-xl), -1.6667rem + 7.2917vw, var(--text-5xl));
  --text-fluid-sm-xl: clamp(var(--text-xl), -2rem + 8.125vw, var(--text-7xl));
  --text-fluid-sm-2xl: clamp(var(--text-xl), -3.5714rem + 12.0536vw, var(--text-9xl));
  --text-fluid-md-lg: clamp(var(--text-3xl), -1.5rem + 7.0313vw, var(--text-5xl));
  --text-fluid-md-xl: clamp(var(--text-3xl), -2.0625rem + 8.2031vw, var(--text-7xl));
  --text-fluid-md-2xl: clamp(var(--text-3xl), -4.25rem + 12.7604vw, var(--text-9xl));
  --text-fluid-lg-xl: clamp(var(--text-5xl), -3rem + 9.375vw, var(--text-7xl));
  --text-fluid-lg-2xl: clamp(var(--text-5xl), -7rem + 15.625vw, var(--text-9xl));
  --text-fluid-xl-2xl: clamp(var(--text-7xl), -13rem + 21.875vw, var(--text-9xl));
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --leading-3: 0.75rem;
  --leading-4: 1rem;
  --leading-5: 1.25rem;
  --leading-6: 1.5rem;
  --leading-7: 1.75rem;
  --leading-8: 2rem;
  --leading-9: 2.25rem;
  --leading-10: 2.5rem;
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
}
