:root {
  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-60: 60;
  --z-70: 70;
  --z-80: 80;
  --z-90: 90;
  --z-100: 100;
  --z-important: 9999;
  --z-auto: auto;
  ---z-10: -10;
  ---z-20: -20;
  ---z-30: -30;
  ---z-40: -40;
  ---z-50: -50;
  ---z-60: -60;
  ---z-70: -70;
  ---z-80: -80;
  ---z-90: -90;
  ---z-100: -100;
  ---z-important: -9999;
}
